* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*For small screen*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*For Medium Screen*/
@media(min-width: 768px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/*For Large Screens*/
@media(min-width: 1024px) {
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

body, html {
    width: 100%;
    height: 100%;
}
/*font-family: 'Varela Round', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Raleway', sans-serif;*/

#prime-cont {
    min-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    background-color: #E0F2F1;
    transition: 0.8s;
}

#secondary-cont {
    max-width: 1024px;
    min-height: 100vh;
    height: auto;
    background-color: #fff;
    margin: auto;
    transition: 0.8s;
    padding-top: 100px;
    z-index: 1;
    box-shadow: 0px 2px 20px black;
}

nav {
    background-color: #009688;
    padding: 10px;
    color: #f3f3f3;
    width: 100%;
    height: 50px;
    font-family: 'Varela Round', sans-serif;
    transition: 0.8s;
    position: fixed;
    overflow: hidden;
    z-index: 3;
    box-shadow: 5px 0px 10px black;
}


    nav h1 {
        display: inline;
        color: #f3f3f3;
        font-family: 'Varela Round', sans-serif;
        padding-bottom: 15px;
        padding-left: 40px;
        position: absolute;
    }

#sideMenu {
    height: 100vh;
    width: 425px;
    position: fixed;
    background-color: #00695c;
    overflow-x: hidden;
    transition: 0.8s;
    top: 0px;
    left: 0px;
    text-align: center;
    padding-top: 50px;
    z-index: 5;
    box-shadow: 0px 1px 10px black;
}

    #sideMenu h1, h2, h4 {
        color: #EFEBE9;
        font-family: 'Varela Round', sans-serif;
        padding: 10px;
        margin: 10px;
    }

    #sideMenu h1 {
        padding: 20px;
        margin-bottom: 20px;
    }

#layer {
    height: 100vh;
    width: 100vw;
    transition: 0.5s;
    z-index: 4;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
}

#sideMenu a {
    text-decoration: none;
    color: #EFEBE9;
    display: block;
    padding: 10px;
    cursor: pointer;
}

    #sideMenu a.active {
        color: #f3f3f3;
        background-color: #004d40;
    }

    #sideMenu a:hover {
        color: #f3f3f3;
        background: #004d40;
    }

#menu-button {
    color: #000;
    font-size: 20px;
    transition: 0.5s;
    padding-top: 3px;
    padding-left: 10px;
    cursor: pointer;
}

#close-button {
    color: #FFA000;
    float: right;
    font-size: 20px;
    transition: 0.5s;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

#menu-button:hover {
    color: #FFA000;
}

#close-button:hover {
    color: #000;
}

#navBtn {
    float: right;
    margin-right: 30px;
}

.button {
    color: #f3f3f3;
    background-color: #009688;
    font-family: 'Varela Round', sans-serif;
    border: 1px solid #f3f3f3;
    padding: 5px;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

    .button:hover {
        color: #f3f3f3;
        background-color: #004d40;
    }

.header {
    padding: 20px;
    text-align: center;
}

h1, h2, h4 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}


input[type="text"] {
    height: 25px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 1px;
    padding: 5px;
    z-index: 1;
    box-shadow: 0.5px 0.5px 2px #000;
}

::-webkit-input-placeholder {
    font-family: 'Raleway', sans-serif;
    color: #004d40;
}

.edit-area {
    background-color: #f3f3f3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100px;
    margin-top: 102px;
    padding: 20px;
}

.del-btn, .update-btn {
    display: inline-block;
    margin-top: 20px;
}

.update-btn {
    float: right;
}


/*----Domain PANEL----*/

.dom-body {
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 2px 2px 15px #000;
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom left, rgba(0, 150, 136, 0.5), rgba(0, 150, 136, 0.8)), url("../Images/icon/img1.jpg");
}


.dom-name a {
    text-decoration: none;
    color: #fff;
}

    .dom-name a:hover {
        color: #FFA000;
    }

/*----LEVEL PANEL----*/

.new-lev {
    width: 280px;
    height:300px;
    margin: auto;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #000;
}

.lev-container {
    height: 500px;
    max-width: 700px;
    margin: auto;
    width: auto;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #000;
    background-size: 700px 700px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom left, rgba(0, 150, 136, 0.5), rgba(0, 150, 136, 0.8)), url("../Images/icon/img1.jpg");
}

    .lev-container input[type="text"] {
        height: 25px;
        width: 200px;
        outline: none;
    }

section {
    width: 80%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin: auto;
    padding: 5px;
}

.dropdown {
    margin: 10px auto;
    transition: 0.5s;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.update {
    margin: 10px auto;
    text-align: center;
}

    .update .button {
        margin: 3px;
    }

.lev-container .delete {
    text-align: center;
}

.lev-container a {
    text-decoration: none;
    color: #fff;
}

    .lev-container a:hover {
        color: #FFA000;
    }


/*----COORDINATE PANEL------*/

.image {
    width: auto;
    max-height: 450px;
    margin:auto;
}