*{
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

#main{
	transition: 0.5s;
}

nav{
	background-color: #009688;
	padding: 15px;
	color: #f3f3f3;
	width: 100vw;
	font-family: 'Varela Round', sans-serif;
	transition: 0.2s;
	position: fixed;
	overflow-x: hidden;
}

#menu-button{
	color: #000;
	font-size: 20px;
	transition: 0.5s;
	padding-top: 3px;
	padding-left: 10px; 
}

#close-button{
	color: #000;
	float: right;
	font-size: 20px;
	transition: 0.5s;
	position: absolute;
	top: 10px;
	right: 20px;
}

#menu-button:hover, #close-button:hover{
	font-size: 25px;
	color: #FFA000;
}

nav h1{
	display: inline;
	color: #f3f3f3;
	font-family: 'Varela Round', sans-serif;
	padding-bottom: 15px;
	padding-left: 40px;
	position: absolute;
}


#logout-button{
	display: inline;
	color: #212121;
	font-family: 'Varela Round', sans-serif;
	padding : 5px;
	border: 1px solid #004d40;
	border-radius: 10px;
	float: right;
	margin-right: 50px;
	transition: 0.5s;
}


#logout-button:hover{
	color: #f3f3f3;
	background-color: #004d40;
}

#layer{
	height: 100vh;
	width: 0vw;
	transition: 0.5s;
	z-index: 1;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
}

#sideMenu {
    height: 100vh;
    width: 0 ;
    position: fixed;
    background-color: #004d40;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.8;
    top: 0px;
    left: 0px;
    text-align: center;
    padding-top: 50px; 
    z-index: 2;
}

#sideMenu h1, h4{
	color: #EFEBE9;
	font-family: 'Varela Round', sans-serif;
	padding: 20px;
}

#sideMenu a {
    text-decoration: none;
    color: #EFEBE9;
    display: block;
    padding: 20px;
    cursor: pointer;
}

#sideMenu a.active {
	color: #f3f3f3;
	background: #00695c;
}

#sideMenu a:hover{
	color: #f3f3f3;
	background: #00695c;
}

#sideMenu img{
	width: 200px;
	height: 200px
	border-radius: 50px;
}

.table_admin{
	width: 80%;
	top: 100px;
	position: relative;
	margin: auto;
	font-family: 'Varela Round', sans-serif;
	text-align: center;
}

.table_user{
	width: 50%;
	top: 100px;
	position: relative;
	margin: auto;
	font-family: 'Varela Round', sans-serif;
	text-align: center;
}

#Domain-header{
	top: 100px;
	position: relative;
	padding: 50px;
	left: 10vw;
	font-family: 'Varela Round', sans-serif;
}

#Domain-header h3, span{
	padding: 20px;
}

th {
	background-color: #009688;
	padding: 20px;
	margin: auto;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.table_user tr{
	padding: 10px;
	height: 200px;
	margin: auto;
	background-color: #E0F2F1;
}

tr{
	padding: 10px;
	margin: auto;
	background-color: #E0F2F1;
}

tr:nth-child(even){
	background-color: #B2DFDB;
}

td{
	padding: 10px;
	margin: auto;
	transition: 0.5s;
}

td:hover{
	background-color: #D7CCC8;
}

a{
	text-decoration: none;
	color: #616161;
}

a:hover{
	color: #01579B;
}

input{
	height: 25px;
}

input:focus{
	border-radius: 5px;
	background-color: #E0F7FA;
	outline: none;
	transition: 0.3s;
}

/*.button{
	background-color: #009688;
	border: 1px solid #00695c;
	border-radius: 3px;
	transition: 0.5s;
	padding: 5px;
}
.button:hover{
	background-color: #004d40;
	color: #f3f3f3;
}*/

.insrt-dom{ 
	position: absolute;
	width: 60%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}